<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        css display : inline block inline-block
        위 아래 : block
        좌 우 : inline
        
        div를 좌에서 우로 배치
        display : inline-block - 메뉴
        float : left right 단순하게 왼쪽 오른쪽 위치에 가져다 놓는것
        position - relative, absolute 내가 원하는곳에 마음대로 가져다 놓는것
        display : flex
                        
     -->
     
</body>
</html>